# unziped circuit python bundle
adafruit-circuitpython-bundle-*

# app dependencies
/node_modules
**/node_modules
**/node_modules/**

# app production
/build
**/build
**/build**

# personal config
firmware/config.py
autokey_scripts/*
config_back.py

# pcb design backup
*.kicad_pcb-bak
*/gerber
*/iterations
pcb/pcb-backups
pcb/1x1/1x1-backups

log
*.log
.vscode
*.bkp

# Firebase cache
**/.firebase/
