.drop-area {
    background-color: #ecebeb;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    height: 320px;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;
}